.container-user-profile {
    width: 1000%; /* Set the width to 100% to expand it to the full width of the viewport */
    max-width: 1200px; /* Optionally, set a maximum width to limit the width on larger screens */
    margin: 0 auto; /* Center the container horizontally */
  }
  

