.new-playlists-container {
  width: 100%; /* Set the width of the container */
}

.new-playlists-list {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  display: flex; /* Display playlists horizontally */
  justify-content: space-between; /* Space between playlists */
  flex-wrap: wrap; /* Allow playlists to wrap to the next line */
  align-items: center; /* Center playlists vertically */
}


.new-playlist-item {
  width: calc(33.33% - 20px); /* Adjust width to fit three playlists in a row with margin */
  margin-bottom: 20px; /* Add margin at the bottom */
  border-radius: 8px; /* Add border radius for rounded corners */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-playlist-content {
  padding: 20px; /* Add padding inside each playlist */
  flex: 1; /* Allow content to grow to fill the space */
  display: flex; /* Use flexbox to center the content horizontally */
  flex-direction: column; /* Arrange content vertically */
  justify-content: space-between; /* Center content vertically */
}

.new-Playlist-Heading {
  text-align: center;
}

.new-playlist-title {
  margin-top: 0; /* Remove margin from the top of the title */
}

.new-playlist-description {
  margin-bottom: 10px; /* Add margin at the bottom of the description */
}

.new-playlist-owner {
  color: #333; /* Set color for the owner link */
}

.new-playlist-embed {
  width: 100%; /* Ensure the embedded content fills the available width */
  height: 100%;
  justify-content: center; /* Ensure the embedded content fills the available height */
}

  