/* New Playlists container */
.new-playlists-container {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  padding: 20px; /* Add padding inside the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

  
  /* New Playlists title */
  .new-playlists-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }
  
  /* Playlist list */
  .new-playlists-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

  }
  
  /* Playlist item */
  .new-playlist-item {
    width: calc(33.33% - 20px); /* Adjust width to fit three items per row */
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Playlist item content */
  .new-playlist-content {
    padding: 15px;
  }
  
  .new-playlist-title {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }
  
  .new-playlist-description {
    font-size: 14px;
    margin: 5px 0;
  }
  
  /* Link to playlist owner */
  .new-playlist-owner {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Embedded playlist */
  .new-playlist-embed {
    max-width: 200% !important; /* Use max-width instead of fixed width */
    height: 300px;
    object-fit: contain; /* Ensure the content fits within the specified dimensions */
}
  