.profile-playlists-container {
  margin-top: 20px;
}

.profile-playlists-heading {
  font-size: 22px;
  margin-bottom: 10px;
}

.profile-playlists-list {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center the items horizontally */
  width: 750px;
  margin-left: 100px;
}

.profile-playlists-error-message {
  color: red;
}

.profile-playlists-no-playlists-message {
  color: #666;
}

.profile-playlists-items {
  list-style-type: none;
  padding: 0;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.profile-playlists-item {
  width: calc(45% - 20px); /* Adjust width to fit two items per row */
  margin-bottom: 20px; /* Add space below each item */
  margin-right: 20px; /* Add space between items */
}

@media (max-width: 768px) {
  .profile-playlists-list {
    justify-content: center; /* Center the items horizontally on smaller screens */
  }
  
  .profile-playlists-item {
    width: calc(50% - 20px); /* Adjust width for smaller screens */
    margin-right: 15px; /* Add more space between items on smaller screens */
  }
}













  
  

