.profile-playlists-container {
}

.profile-playlists-heading {
  font-size: 22px;
}

.profile-playlists-list {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center the items horizontally */
  align-items: center;
}

.profile-playlists-error-message {
  color: red;
}

.profile-playlists-item {
  align-items: center;
  margin: 10px; /* Add margin to create space between items */
}

.profile-playlists-no-playlists-message {
  color: #666;
}

.profile-playlists-items {
  list-style-type: none;
  padding: 0;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.profile-playlists-item {
align-items: center;
}

@media (max-width: 768px) {
  .profile-playlists-list {
    justify-content: center; /* Center the items horizontally on smaller screens */
  }
  
  .profile-playlists-item {
    width: calc(50% - 20px); /* Adjust width for smaller screens */
    margin-right: 15px; /* Add more space between items on smaller screens */
  }
}













  
  

