.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  margin-top: 20px; /* Add margin from the top */
  justify-content: center;
  width: 1000px;
}

.profile-page-send-friend-request {
  /* Your styles for the send friend request container */
}

.profile-page-user-posts {
  background-color: #f9f9f9; /* Light background color */
    border-radius: 12px; /* Slightly rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 200%; /* Take full width */
    max-width: 500px; /* Limit maximum width */
    text-align: center;
    margin-right:414px;
}

.profile-page-post {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
}

.interaction-options {
  display: flex;
  justify-content: space-between; /* Align buttons to the ends */
}

  